body {
  margin: 0;
  font-family: Arial, sans-serif;
  
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.dark-mode {
  background-color: #141313;
  color: #ffffff;
}


.light-mode {
  background-color: #ffffff;
  color: #000000;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  margin-top: 50px;
 
}

.chat-container {
  max-width: 800px;
  margin: 0 auto;
}

